// === make the main top nav menu & brand img bigger
/*
.navbar {
  height: 250px;
}

.navbar-brand img {
  max-height: calc(100%-20px); // 100% height + 20px v-padding
}
*/

// === resize top main nav menu text
.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 16px;
  font-weight: bold;
}
