// === make the main top nav menu & brand img bigger
/*
.navbar {
  height: 120px;
}

.navbar-brand img {
  max-height: calc(100%-10px); // 100% height + 10px v-padding
}
*/

// === resize top main nav menu text
.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 18px;
  font-weight: bold;
}
